html {
    display:flex;
    min-height: 100vh;
  }

  * {
    box-sizing: border-box;
  }

 body{
  min-height: 100vh;
  margin: 0;
  display:flex;
  justify-content: center;
  flex-direction: column;
  font-family: Roboto,Arial, Helvetica, sans-serif;
 }

 header {
 display: flex;
 flex-direction: column;
 align-items: center; 
 background-color: rgb(42, 41, 48);
 color: white;
  }

 .header-top {
  display:flex;
  justify-content: space-around;
  gap: 50rem;
  margin-top: 1em;
 }

 .main-title {
font-weight: bolder;
font-size: 48px;

 }

 .header-links {
  display: flex;
  justify-content: space-between;
  gap: 1rem;
 }

 .sub-header {
  display: flex;
  justify-content: space-around;
  align-items: center;
  padding-top: 3rem;
  padding-bottom: 3rem;
 }

 .sub-text {
  display: flex;
  flex: wrap;
  flex-basis: 25rem;
  flex-direction: column;
  }

.sub-img{
  display:flex;
  max-height: 22rem;
  max-width: auto;
 } 

 main {
  display:flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
 }

.header-link {
  display: flex;  
  color: white;
 }
 

 .info{
  display:flex;
  justify-content: space-around;
 }

 .container{
  display: flex;
  justify-content: center;
  gap: 8rem;
  padding-top: 3rem;
  padding-bottom: 4rem;
  
 }

 .pic {
  width: 10rem;
  height: 10rem;
  border-radius: 5px;
  border-color: rgb(155, 184, 228);
  border-style: solid;
  border-width: 5px;
  box-shadow: 1px 2px;
 }


 .quote {
  background-color: rgb(186, 210, 218);
  padding: 8rem;
  display: flex;
  justify-content: center;
 
 }

 .sign {
  position: absolute;
  margin-top: 2rem;
  right: 13rem;

 }

 .banner{
  background-color: rgba(140, 170, 252, 0.977);
  margin: 3rem;
  border-radius: 1rem;
  width: 55rem;
  padding: 2rem;
  display:flex;
  align-items: center;
  justify-content: space-between;
 }

 footer {
  background-color: rgb(42, 41, 48);
  color: white;
  padding: 1rem;
  display: flex;
  justify-content: center;
  align-items: center;
 }

 .info-img {
  max-width: 8rem;

 }

 .text {
  text-align: center;
 }

 #logo {
  width: 8rem;

 }

 a {
  text-decoration: none;
  color: white;
 }

 button {
  background-color: rgba(65, 111, 237, 0.977);
  text-decoration: none;
  color: white;
  border-radius: 10px;
  padding: 5px;
  font-size: 1em;
  font-weight: bold;
  width: 6rem; 
  cursor: pointer;
 }

 button:hover {
  background-color: rebeccapurple;
 }